/*Gael Horta Calzada UO295662 */
/* Esquemas de posicionamiento de los elementos del proyecto MotoGP-Desktop*/

header { /*Especificidad 0,0,1 */
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 1rem;
}

header nav {/*Especificidad 0,0,2 */
    display: flex;
    flex-wrap: wrap; 
    gap: 0.25rem;
}

@media (min-width: 320px) and (max-width: 799px) {


    header nav { /*Especificidad 0,0,2 */ 
        flex-direction: column;
    }

    header + p { /*Especificidad 0,0,2 */
        display: none;
    }

    Video,audio { /*Especificidad 0,0,1 */
        width:100%;
        height:auto;
    }
    article h2 + img { /*Especificidad 0,1,3 */
        width: 100%;
        height: auto;
    }  
    section figure img { /*Especificidad 0,0,3 */
        width: 100%;
        height: auto;
    }
}